body {

}



.column {
  float: left;

}

.column img {

  width: 500px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px){

  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: #43376b;
    color: silver;
  }
}

#Sam {
  font-size: 19px;
  font-weight: bold;
}

#The-Boss {
  font-size: 19px;
  font-weight: bold;
  color: #72b4d4;
}

#Patsy {
  font-size: 19px;
  font-weight: bold;
  color: silver;
}

#Frooty {
  font-size: 19px;
  font-weight: bold;
}
